{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'priem/style/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'priem/style/style.css' %}">
	<script src="{% static 'priem/js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'priem/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'priem/js/script.js' %}"></script>
	<meta charset="utf-8">
	<title>Веб-калькулятор</title>
</head>
<body>
<div style="float: left; width: 60%">
			<div class=" header">
				<img src="../../static/priem/images/tsu.png">
				<h1 class="header-main"><b>Калькулятор баллов ЕГЭ</b></h1>
			</div>
			<br><br>

<form action="" method="post">
			<div class="block-form">
				<h3 class="header-form-type">Форма обучения: </h3>
				<div class="education-label">
					{% for field in form %}
						{% if forloop.counter == 2 %}
							{{ field }}
							{{ field.label }}
						{% endif %}
					{% endfor %}
				</div> 
			</div>
			<br><br><br>

			<div class="block-exam">
				<h3 class="header-exam">Баллы за ЕГЭ:</h3>
				<div>
					<table class="table table-exam">
						<tbody>
							<tr>
							  	{% for field in form %}
									{% if forloop.counter >= 3 and forloop.counter <= 6 %}
							        	<td align="center" class="borderline-none">
							        		<label>{{ field.label }}</label>
											{{ field }}
										</td>
									{% endif %}
								{% endfor %}
						  	</tr>
							<tr>
							  	{% for field in form %}
									{% if forloop.counter >= 9 and forloop.counter <= 12 %}
							        	<td align="center">
							        		<label>{{ field.label }}</label>
											{{ field }}
										</td>
									{% endif %}
								{% endfor %}
						  	</tr>
						  	<tr>
						  		{% for field in form %}
									{% if forloop.counter == 13 %}
							        	<td align="center">
							        		<label>{{ field.label }}</label>
											{{ field }}
										</td>
									{% endif %}
								{% endfor %}
								{% for field in form %}
									{% if forloop.counter == 14 %}
							        	<td align="center" colspan="2" style="padding-left: 25px;">
							        		<label>{{ field.label }}</label>
											{{ field }}
										</td>
									{% endif %}
								{% endfor %}
								{% for field in form %}
									{% if forloop.counter == 15 %}
							        	<td align="center">
							        		<label>{{ field.label }}</label>
											{{ field }}
										</td>
									{% endif %}
								{% endfor %}
						  	</tr>
						  	<tr>
						  		<td colspan="4" class="borderline-none" align="center">
						  			<input type="submit" class="btn btn-lg btn-success count" value="Рассчитать">
						  		</td>
						  	</tr>
						</tbody>
					</table>
				</div>
			</div>
	<br>

	{% csrf_token %}
</form><br>
</div>

<div style="float: left;">
<div style="margin-top: 145px;">
	<h3> Добро пожаловать! </h3>
	<h4> и бла бла бла бла <br> бла бла бла бла бла бла!</h4>
	<h4> и бла бла бла бла <br> бла бла бла бла бла бла!</h4>
	<h4> и бла бла бла бла <br> бла бла бла бла бла бла!</h4>
	<h4> а также бла бла бла бла <br> бла бла бла бла бла бла!</h4>
	<h4> и бла бла бла бла <br> бла бла бла бла бла бла!</h4>
	<h4> Удачи!</h4>
</div>
</div>	
</body>
</html>